# Core functionality - changes here should be rare!
/src/app.py                   @MOAGICK
/src/backend/database.py      @MOAGICK
/src/backend/routers/auth.py  @MOAGICK

# The frontend will need refactored soon to be more object oriented.
/src/static/   @MOAGICK
